{% extends "base_temp.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-sm-4 mt-5">
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                {{ form.email.errors }}
                {% endif %}
                {{ form.email|as_crispy_field }}
                <input type="submit" class="btn btn-info" value="Reset password">
            </form>
            <div>
                <small class="text-muted pt-4"> (**Please provide your email, we will provide you password reset link to your email**)</small>
            </div>
        </div>
    </div>



{% endblock %}