{% extends "base_temp.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-sm-4 mt-5">
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                {{ form.email.errors }}
                {% endif %}
                {{ form.email|as_crispy_field }}
                <input type="submit" class="btn btn-info p-3" value="Reset password">
            </form>
            <div>
                <p class="text-muted pt-3"> (**  আপনার ইমেইল দিন, আপানার পাসওয়ার্ড রিসেট লিংক আপনার ইমেইল এ পাটিয়ে দিচ্ছি  **)</p>
            </div>
        </div>
    </div>



{% endblock %}