
  .world_news table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  }
  .world_news th, td {
    padding: 0.25rem;
  }
  tr.world th {
    background: #37474f;
    color: white;
  }
 
  .world_news th {
    
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

  .black_text {
    color: black !important;
  }

  .row_separator {
    border-bottom: 1px solid gray !important;
    border-top: 1px solid gray !important;
  }​