{% extends 'base_temp.html' %}
{% load static %}

{% block content %}

<style>
    .bg-gradient-1 {
        background: #536976;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #536976, #292e49);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #536976, #292e49);
    }
</style>

<div class="bg-white text-dark">

    <!-- fixed bg image  -->
    <div class="px-0 pt-2 ">
        <div class="swiper-slide hero-content-wrap">
            <img src="{% static 'images/hero.jpg'%} " alt="img">

            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1>দান করুন</h1>
                                <h4> <strong> সুস্থ ও স্বাভাবিক বাংলাদেশ ফিরিয়ে আনুন</strong></h4>
                            </header><!-- .entry-header -->

                            <div class="entry-content mt-4">
                                <p>আপনাদের কিছু দান, বেঁচে যাবে অনেক প্রান </p>
                            </div><!-- .entry-content -->

                            <!-- <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                <a href="#" class="btn orange-border">Read More</a>
                            </footer> -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div>
    </div>


    <!-- socila activities info -->
    <div class="px-2 py-0">
        <div class="jumbotron bg-white ">
            <h3 style="color:#FF5A00">এখানে বাংলাদেশের সকল বিশ্বস্ত সামাজিক কল্যান মূলক প্রতিষ্ঠান গুলো একসাথে পাওয়া
                যাবে ।</h3>

            <div class="row pt-5">
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="card mx-2" style="width: 21rem;height:10rem ;border:2px double blue">
                        <div class="card-body">
                            <h6 style="color:blue;line-height: 1.5rem;letter-spacing: 0rem;">যে প্রতিষ্ঠান গুলো সামাজিক সহায়তা করে থাকে ।
                                বিপদে পাশে দাঁড়ায়
                                এবং বর্তমানে করোনা মোকাবিলার জন্যে এই প্রতিষ্ঠান গুলো উদ্যোগ নিয়েছে । </h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="card mx-2" style="width: 21rem;height:10rem;border:2px double green">
                        <div class="card-body">

                            <h6 style="color:green;line-height: 1.5rem;">আপনারা এই সংস্থা গুলোকে সহায়তা করুন যাতে তারা
                                যথা সময়ে মানুষের
                                কাছে পৌঁছে দিতে পারে । </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="card mx-2" style="width: 21rem;height:10rem;border:2px double orange">
                        <div class="card-body">

                            <h6 style="color:orange;line-height: 1.5rem;">
                                সংস্থা গুলোর প্রয়োজনীও তথ্য যাচাই করে আপানারা নিজ উদ্যোগে পাশে দাড়ান। আপানারা দান করতে
                                চাইলে সংস্থা গুলোর ফোন নাম্বারে যোগাযোগ করে সঠিক তথ্য যাচাই করে নিন।
                            </h6>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- all socila organization info -->
    <div class="all-socila-info" style="margin-bottom:100px;padding-top:0px">
        <div class="container">

            <!-- search  -->
            <div class='org-search bg-white  pt-3 pb-1'>
                <form>
                    <div class="form-row justify-content-md-center align-items-center">

                        <div class="form-group col-md-2">
                            <label style="letter-spacing:0px;font-size:17px;text-decoration:bold;color:#FF5A00" class=""
                                for="">বিভাগ </label>
                            <select id="inputState" class="form-control">
                                <option selected>সকল</option>
                                <option>ঢাকা</option>
                                <option>সিলেট</option>
                                <option>চট্রগ্রাম</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label style="letter-spacing:0px;font-size:17px;text-decoration:bold;color:#FF5A00"
                                for="inputState">জেলা</label>
                            <select id="inputState" class="form-control">
                                <option selected>সকল</option>
                                <option>সিলেট</option>
                                <option>সুনামগঞ্জ</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label style="letter-spacing:0px;font-size:17px;text-decoration:bold;color:#FF5A00"
                                for="inputState">থানা</label>
                            <select id="inputState" class="form-control">
                                <option selected>ছাতক</option>
                                <option>দোয়ারা বাজার</option>
                            </select>
                        </div>
                        <div class="col-md-2 align-self-center ">
                            <button type="submit"
                                style="border: 1px solid rgb(240, 15, 146);letter-spacing:1px;background-color:#FF5A00"
                                class="btn-success btn  mt-4 p-2 ">অনুসন্ধান</button>
                        </div>

                    </div>
                </form>
            </div>

            <!-- all org list -->
            <div class="row pt-5">
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="card mx-1" style="width: 22.5rem;border-left:3px solid gray;border-radius:10px">
                        <div class="card-body">
                            <h4 class="card-title text-primary">তারুণ্য সমাজ কল্যান সংস্থা</h4>
                            <h6 class="card-subtitle mb-2 text-muted">দোয়ারা, সুনামগঞ্জ, সিলেট</h6>
                            <p class="card-text">এই সংস্থা দীর্ঘ ৫ বছর যাবৎ কাজ করতেছে। অনেক সামাজিক কাজে এর অবদান আছে।
                                এখন ও অনেক কাজে এগিয়ে যাইতেছে।
                            </p>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="text-success"> যোগাযোগ </h6>

                                        <p class="text-success">01742234926 </p>

                                </div>
                                <div class="col-sm-7">
                                    <h6 class="text-danger"> একাউন্ট </h6>

                                        <p class="text-danger"><strong class="text-danger">Bkash :</strong> 01742234926
                                        </p>

                                        </ul>
                                </div>
                            </div>


                            <a href="#" class="card-link"> <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                facebook </a>
                            <a href="#" class="card-link"><i class="fa fa-spider-web "></i>website</a>
                            <a href="#" class="card-link text-info">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="card mx-1" style="width: 22.5rem;border-left:3px solid green;border-radius:10px">
                        <div class="card-body">
                            <h4 class="card-title text-primary">তারুণ্য সমাজ কল্যান সংস্থা</h4>
                            <h6 class="card-subtitle mb-2 text-muted">দোয়ারা, সুনামগঞ্জ, সিলেট</h6>
                            <p class="card-text">এই সংস্থা দীর্ঘ ৫ বছর যাবৎ কাজ করতেছে। অনেক সামাজিক কাজে এর অবদান আছে।
                                এখন ও অনেক কাজে এগিয়ে যাইতেছে।
                            </p>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="text-success"> যোগাযোগ </h6>

                                        <p class="text-success">01742234926 </p>

                                </div>
                                <div class="col-sm-7">
                                    <h6 class="text-danger"> একাউন্ট </h6>

                                        <p class="text-danger"><strong class="text-danger">Bkash :</strong> 01742234926
                                        </p>

                                        </ul>
                                </div>
                            </div>


                            <a href="#" class="card-link"> <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                facebook </a>
                            <a href="#" class="card-link"><i class="fa fa-spider-web "></i>website</a>
                            <a href="#" class="card-link text-info">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="card mx-1" style="width: 22.5rem;border-left:3px solid gray;border-radius:10px">
                        <div class="card-body">
                            <h4 class="card-title text-primary">তারুণ্য সমাজ কল্যান সংস্থা</h4>
                            <h6 class="card-subtitle mb-2 text-muted">দোয়ারা, সুনামগঞ্জ, সিলেট</h6>
                            <p class="card-text">এই সংস্থা দীর্ঘ ৫ বছর যাবৎ কাজ করতেছে। অনেক সামাজিক কাজে এর অবদান আছে।
                                এখন ও অনেক কাজে এগিয়ে যাইতেছে।
                            </p>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="text-success"> যোগাযোগ </h6>

                                        <p class="text-success">01742234926 </p>

                                </div>
                                <div class="col-sm-7">
                                    <h6 class="text-danger"> একাউন্ট </h6>

                                        <p class="text-danger"><strong class="text-danger">Bkash :</strong> 01742234926
                                        </p>

                                        </ul>
                                </div>
                            </div>


                            <a href="#" class="card-link"> <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                facebook </a>
                            <a href="#" class="card-link"><i class="fa fa-spider-web "></i>website</a>
                            <a href="#" class="card-link text-info">Details</a>
                        </div>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->




</div>

{% endblock content %}

{% block footer %}

</footer>

{% endblock footer %}