{% extends 'base_temp.html' %}
{% load static %}

{% block script %}
<style>
    .pagination {
      display: inline-block;
    }
    
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
    }
    
    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
    
{% endblock script %}

{% block content %}


<div class="bg-white text-dark ">
    <!-- fixed bg image  -->
    <div class="px-0 pt-2 ">
        <div class="swiper-slide hero-content-wrap">
            <img src="{% static 'images/hero.jpg'%} " alt="img">

            <div class="hero-content-overlay position-absolute w-100 h-100">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                            <header class="entry-header">
                                <h1 class="p-2">দান করুন</h1>
                                <h4 class="p-2" > <strong> সুস্থ ও স্বাভাবিক বাংলাদেশ ফিরিয়ে আনুন</strong></h4>
                            </header><!-- .entry-header -->

                            <div class="entry-content mt-3">
                                <h5 class="p-2 text-warning">আপনাদের কিছু দান, বেঁচে যাবে অনেক প্রান </h5>
                            </div><!-- .entry-content -->

                            <!-- <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                <a href="#" class="btn orange-border">Read More</a>
                            </footer> -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .hero-content-overlay -->
        </div>
    </div>


    <!-- socila activities info -->
    <div class=" py-0">
        <div class="jumbotron bg-white ">
            <ul class="list-group list-group-flush " style="color:#FF5A00">
                <li class="list-group-item "><h5><i class="fas fa-arrow-alt-circle-right"></i>  এখানে বাংলাদেশের সকল বিশ্বস্ত সামাজিক কল্যান মূলক প্রতিষ্ঠান গুলো একসাথে পাওয়া যাবে ।</h5></li>
                <li class="list-group-item"><h5><i class="fas fa-arrow-alt-circle-right"></i> এখানে আপনি আপানার নিজের এলাকার সংস্থা গুলো খুজে পাবেন সহজে ।</h5></li>
                <li class="list-group-item"><h5><i class="fas fa-arrow-alt-circle-right"></i> খুজে পাবেন সকল সংস্থা গুলোর অতীত রেকর্ড ।</h5></li>

                
              </ul>
            

            <div class="row pt-5 justify-content-center ">
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0 ">
                    <div class="card mx-2" style="height:10rem ;border:2px double blue">
                        <div class="card-body">
                            <h6 style="color:blue;line-height: 1.5rem;letter-spacing: 0rem;">যে প্রতিষ্ঠান গুলো সামাজিক সহায়তা করে থাকে ।
                                বিপদে পাশে দাঁড়ায়
                                এবং বর্তমানে করোনা মোকাবিলার জন্যে এই প্রতিষ্ঠান গুলো উদ্যোগ নিয়েছে । </h6>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0 align-self-center">
                    <div class="card mx-2" style="height:10rem;border:2px double green">
                        <div class="card-body">

                            <h6 style="color:green;line-height: 1.5rem;">আপনারা এই সংস্থা গুলোকে সহায়তা করুন যাতে তারা
                                যথা সময়ে মানুষের
                                কাছে পৌঁছে দিতে পারে । </h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0  align-self-center">
                    <div class="card mx-2" style="height:10rem;border:2px double orange">
                        <div class="card-body">

                            <h6 style="color:orange;line-height: 1.5rem;">
                                সংস্থা গুলোর প্রয়োজনীও তথ্য যাচাই করে আপানারা নিজ উদ্যোগে পাশে দাড়ান। আপানারা দান করতে
                                চাইলে সংস্থা গুলোর ফোন নাম্বারে যোগাযোগ করে সঠিক তথ্য যাচাই করে নিন।
                            </h6>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- all socila organization info -->
    <div class="all-socila-info" id="organisation-info" style="margin-bottom:100px;padding-top:0px">
        <h3 class="text-warning bg-gradient-2 p-5" > বাংলাদেশের সকল সংস্থা বা প্রতিষ্ঠান </h3>
        <div class="mx-5 ">

            <!-- search  -->
            <div class='org-search bg-white  pt-3 pb-1'>
                <form>
                    <div class="form-row justify-content-md-center align-items-center">

                        <div class="form-group col-md-2">
                            <label style="letter-spacing:0px;font-size:17px;text-decoration:bold;color:#FF5A00" class=""
                                for="">বিভাগ </label>
                            <select id="inputState" class="form-control">
                                <option selected>সকল</option>
                                <option>ঢাকা</option>
                                <option>সিলেট</option>
                                <option>চট্রগ্রাম</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label style="letter-spacing:0px;font-size:17px;text-decoration:bold;color:#FF5A00"
                                for="inputState">জেলা</label>
                            <select id="inputState" class="form-control">
                                <option selected>সকল</option>
                                <option>সিলেট</option>
                                <option>সুনামগঞ্জ</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label style="letter-spacing:0px;font-size:17px;text-decoration:bold;color:#FF5A00"
                                for="inputState">থানা</label>
                            <select id="inputState" class="form-control">
                                <option selected>ছাতক</option>
                                <option>দোয়ারা বাজার</option>
                            </select>
                        </div>
                        <div class="col-md-2 align-self-center ">
                            <button type="submit"
                                style="border: 1px solid rgb(240, 15, 146);letter-spacing:1px;background-color:#FF5A00"
                                class="btn-success btn  mt-4 p-2 ">অনুসন্ধান</button>
                        </div>

                    </div>
                </form>
            </div>

            <!-- all org list -->
            <div class="row mt-5">
                {% if organisation_list %}
                    {% for org in organisation_list %}

                    
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="card mx-1" style=" border-left:3px solid gray;border-radius:10px">
                        <div class="card-body">
                            <h4 class="card-title text-primary"> {{ org.name}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted"> {{ org.thana}},  {{ org.district}},  {{ org.division}}</h6>
                            <p class="card-text"> {{ org.about|truncatechars:255 }}
                            </p>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="text-success"> যোগাযোগ </h6>

                                        <p class="text-success"> {{ org.phone}} </p>

                                </div>
                                <!-- <div class="col-sm-7">
                                    <h6 class="text-danger"> একাউন্ট </h6>

                                        <p class="text-danger"><strong class="text-danger">Bkash :</strong> 01742234926
                                        </p>

                                        </ul>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-footer  " >

                            <a href=" {{ org.facebook_url}}" class="card-link  text-primary"  >  <i class="fab fa-facebook "></i>
                                ফেসবুক </a>
                            {% if org.website_url %}
                            <a href="{{ org.website_ur}}" class="card-link  text-primary"><i class="fas fa-globe ">ওয়েব</i></a>
                            {% endif %}
                            <a href="#" class="card-link  text-danger" style="float:right;text-decoration: underline;" >বিস্তারিত</a>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            {% endif %}
             
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->




</div>


{% if organisation_list.has_other_pages %}
<div class="pagination m-3 pl-4">
    <span class="step-links">

        {% for i in organisation_list.paginator.page_range %}
            {% if organisation_list.number == i %}
                <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
            {% else %}
                <a href="?page={{ i }}#organisation-info">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if organisation_list.has_previous %}
            <a class="text-success" href="?page=1#organisation-info">&laquo; প্রথম</a>
            <a class="text-success" href="?page={{ organisation_list.previous_page_number }}#organisation-info">পূর্বে</a>
        {% endif %}

        
        <!-- <a href="#" class="active">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a> -->
        <span class="current text-success">
            Page {{ organisation_list.number }} of {{ organisation_list.paginator.num_pages }}.
        </span>

        {% if organisation_list.has_next %}
            <a class="text-success" href="?page={{ organisation_list.next_page_number }}#organisation-info">পরবর্তী</a>
            <a class="text-success" href="#organisation-info?page={{ organisation_list.paginator.num_pages }}#organisation-info">শেষ &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}


{% endblock content %}

{% block footer %}

</footer>

{% endblock footer %}