<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static  'corunaApp/css/main.css' %} " />
	<noscript><link rel="stylesheet" href="{% static 'corunaApp/css/noscript.css' %}" /></noscript>

</head>
<body>

            {% block content %}

            {% endblock %}

    <!-- Scripts -->
			<script src="{% static 'corunaApp/js/jquery.min.js' %} "></script>
			<script src="{% static 'corunaApp/js/browser.min.js' %} "></script>
			<script src="{% static 'corunaApp/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'corunaApp/js/util.js' %}"></script>
            <script src="{% static 'corunaApp/js/main.js' %}"></script>
    
</body>
</html>