{% extends 'base_temp.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div style="background: rgba(21,21,21,.9); padding:0px;">
    


	<!-- Wrapper -->
	<div id="wrapper" style="height: 90%;">

		<!-- Header -->
		<header id="header"  >
			<div class="" >
				
				<img src="{% static 'corunaApp/images/coron-logo.png' %}" class="logo" alt="Corona" />
			</div>
			<div class="content" style="font-family: 'SolaimanLipi' !important;">
				<div class="inner">
					<h1>কোভিড-১৯</h1>
					<span style="font-size:18px;font-family: 'SolaimanLipi' !important;">করোনা মোকাবিলার জন্য এটা ওপেন সোর্স প্রজেক্ট । <br> আপনারা যে কেউ যে কোন সময় আমাদের প্রজেক্টে অংশগ্রহন করতে পারেন</span>
				</div>
			</div>
			<nav class="" style="background-color:rgba(21,21,21,.9);width:100%;height:90%;">
				<ul>
					<li><a style="font-size:16px" href="#intro">করোনা কি</a></li>
					<li><a style="font-size:16px" href="{% url 'news' %}#news">করোনা সংবাদ</a></li>
					<li><a style="font-size:16px" href="#work">আমাদের কাজ</a></li>
					<li><a style="font-size:16px" href="#about">আমরা কারা</a></li>
					<li><a style="font-size:16px" href="{% url 'email' %}#contact">যোগাযোগ</a></li>
					<!--<li><a href="#elements">Elements</a></li>-->
				</ul>
			</nav>
		</header>


		<!-- Main -->
		<div id="main">

			<!-- Intro -->
			<article id="intro">

				<h2 class="major">করোনাভাইরাস কি?</h2>
				<span class="image main"><img src="{% static 'corunaApp/images/pic01.jpg' %} " alt="" /></span>
				<p>
					করোনাভাইরাস (SARS-CoV-2) ও কোভিড-১৯ কি?

					করোনাভাইরাস (CoV) হচ্ছে ভাইরাসগুলির এক বৃহৎ পরিবার যা সাধারণ সর্দি কাশি থেকে মারাত্মক অসুখ করতে
					পারে, যেমন (Middle East Respiratory Syndrome (MERSCoV), Severe Acute Respiratory Syndrome (SARS-CoV)
					এবং কোভিড ১৯ (COVID-19)। করোনাভাইরাসের অনেক গুলো প্রজাতির মধ্যে ৭টি মানবেদেহ রোগ সৃষ্টি করে, যার
					মাঝে SARS-CoV-2 অন্যতম।

					করোনাভাইরাস গুলি জুলেটিন যার অর্থ প্রানীথেকে মানুষের মধ্যে সংক্রামন করতে পারে ।

					COVID-19 নামক রোগ সৃস্টিকারি SARS-CoV-2 কেরানা ভাইরাস একটি নতুন প্রজাতির যা ইাতমধ্যে মানব শরীের দেখা
					যায়নি। এটি একটি এনেভলপড,পজিটিভ সেন্স সিঙ্গেল স্ট্রান্ড আরএনএ ভাইরাস।

				</p>

				<p>
					<a href="http://www.corona.gov.bd/documents/what-is-covid-19.pdf" target="_blank">বিস্তারিত</a>
				</p>
			</article>

			<article id="news" style="width:950px">


				<div class="row" style="">
					<div class="col s12 m4">
						<h2 class="" style="color:orange">বাংলাদেশের বর্তমান করোনার অবস্থা </h2>
						<div class="card bg-dark">
							<div class="card-content white-text">
								

								<table>

									<tbody>
										{% if world_info %}
										{% for data in world_info %}
										{% if data.country == 'Bangladesh'%}
										<tr>
											<th>করোনা আক্রান্ত</th>
											<td>{{data.cases}}</td>
										</tr>
										<tr>
											<th>চিকিৎসাধীন আছেন</th>
											<td>{{data.active}}</td>
										</tr>
										<tr>
											<th>সুস্থ হয়েছেন</th>
											<td>{{data.recovered}}</td>
										</tr>
										<tr>
											<th>আজকের মৃত সংখ্যা</th>
											<td>{{data.todayDeaths}}</td>

										</tr>
										 <tr>
											<th>আজকের আক্রান্ত সংখ্যা</th>
											<td>{{data.todayCases}}</td>

										</tr> 

										<tr>
											<th>সর্বমোট মারা গেছেন</th>
											<td>{{data.deaths}}</td>
										</tr>

										{% endif %}
										{% endfor %}

										{% else %}
										<p>none</p>
										{% endif %}


									</tbody>
								</table>
							</div>

						</div>
					</div>



					<div class="col s12 m8 blue-grey darken-4" style="height: 440px; overflow: scroll;margin-top:6px">
						<div class="" style="margin:2px">
							<div class="card-content white-text">
								<h2 class="orange-text " style="padding:5px">বিশ্বের বর্তমান করোনার অবস্থা </h2>

								<table class='world_news'>

									<thead>
										<tr class="world">
											<th>দেশ</th>
											<th>করোনা আক্রান্ত</th>
											<th>চিকিৎসাধীন আছেন</th>
											<th>সুস্থ হয়েছেন</th>
											<th>আজকের মৃত সংখ্যা</th>
											<th>আজকের আক্রান্ত সংখ্যা</th>
											<th>সর্বমোট মারা গেছেন</th>
										</tr>
									</thead>

									<tbody>
										{% if world_info %}

										{% for data in world_info %}
										<tr>

											<td> <img width="20" height="15" src="{{data.countryInfo.flag}}"
													style="padding-right: 3px;padding-top:2px" alt="">{{data.country}}
											</td>

											<td>{{data.cases}}</td>

											<td>{{data.active}}</td>


											<td>{{data.recovered}}</td>


											<td>{{data.todayDeaths}}</td>

											<td>{{data.todayCases}}</td>


											<td>{{data.deaths}}</td>
										</tr>
										{% endfor %}


										{% else %}
										<p>none</p>
										{% endif %}


									</tbody>
								</table>
							</div>

						</div>
					</div>



				</div>

				<h2 class="major" style="margin-top:10px">করোনা সংবাদ</h2>

				<div style="height:500px ; background:white; margin-bottom:40px">
					<center><h2 class="black_text">World News</h2></center>
					<div class="col s12 m8 " style="height: 440px; overflow: scroll">
						<table>
							<tbody>
								{% if world_news %}
									{% for data in world_news %}
									<tr class="row_separator">
										<td class="black_text">
											<span>{{ data.publishedAt }}</span>
											<p><a href="{{ data.url }}">
												{{data.title}}
											</a></p>
										</td>
									</tr>
									{% endfor %}
								{% else %}
									<p>none</p>
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>

				<div style="height:500px ; background:white">
					<center>
					<img height="46"
							src="//paloimages.prothom-alo.com/contents/themes/public/style/images/Prothom-Alo.png"
							alt="প্রথম আলো">
								
							</center>
					<iframe id="prothom_alo" style="height:90%;width:100%;padding:10px" src="https://service.prothomalo.com/commentary/">
						<p>Your browser does not support iframes.</p>
					</iframe>
				</div>


				
				{% if post_list %}
				<div class="row" style="margin-top:40px">
					{% for post in post_list %}
					<div class="col s12 ">

						{% if not post.image and not post.url %}
						<div class="card " style="background-color: white;color:black">
							<div class="card-content ">
								<h3 class="card-title " style="color:black;font-weight: bold;">{{post.title}}</h3>
								<p class="" style="padding: 2px;">{{post.description}}</p>
							</div>
							<div class="card-action" style="padding:5px;">
								<small class="" style="padding-left:20px">{{post.date}}</small>
								<!-- <a href="#">This is a link</a>
												  <a href="#">This is a link</a> -->
							</div>
						</div>
						{% elif post.image and  post.url %}

						<div class="card horizontal" style="background-color: white;color:black">
						<div class="" style="width: 100%;">
						
								<div class="" style="padding:10px;float:right;margin:10px ">
									<img class="" width="230px" height="180px" src="{{ post.image.url }}">
								
								</div>
								<div class="card-content ; ">
									<a style="text-decoration: underline ;color:orange" href="{{post.url}}"
										target="_blank"><h3 class="card-title " style="color:black;font-weight: bold;">{{post.title}}</h3></a>
									<p class="" style="padding: 2px;">{{post.description|truncatechars_html:300}}</p>
									
								</div>
								<div class="card-action" style="padding:5px;">
									<small class="" style="padding-left:20px">{{post.date}}</small>
									<a style="float:right;color:blue;text-decoration:underline" href="{{post.url}}"
										target="_blank">Details</a>

									<!-- <a href="#">This is a link</a> -->
								</div>
								
							</div>

						</div>


						{% elif post.image and not post.url %}
						<div class="card horizontal" style="background-color: white;color:black">
							<div class="" style="width: 100%;">
								<div class="" style="padding:10px; float:right;margin:10px ">
									<img class="" width="250px" height="250px" src="{{ post.image.url }}">
								</div>
								<div class="card-content ; ">
									<h3 class="card-title " style="color:black;font-weight: bold;">{{post.title}}</h3>
									<p class="" style="padding: 2px;">{{post.description}}</p>
								</div>

								<div class="card-action" style="padding:5px;">
									<small class="right-align" style="padding-left:20px">{{post.date}}</small>

									<!-- <a href="#">This is a link</a> -->
								</div>
							</div>



						</div>
						{% elif not post.image and  post.url %}

						<div class="card horizontal" style="background-color: white;color:black">
							<div class="card-stacked" style="width: 100%;">
								<div class="card-content ">
									<a style="text-decoration: underline ;color:orange" href="{{post.url}}"
										target="_blank">
										<h3 class="card-title " style="color:black;font-weight: bold;">{{post.title}}
										</h3>
									</a>
									<p class="" style="padding: 2px;">{{post.description|truncatechars_html:250}}</p>
								</div>
								<div class="card-action" style="padding:5px;">
									<small class="" style="padding-left:20px">{{post.date}}</small>
									<a style="float:right;color:blue;text-decoration:underline" href="{{post.url}}"
										target="_blank">Details</a>
									<!-- <a href="#">This is a link</a> -->
								</div>
							</div>

						</div>
						{% endif %}

					</div>

					{% endfor %}

				</div>



				{% else %}
				<p>এখন ও কোন সংবাদ পাওয়া যায় নি</p>
				{% endif %}



			</article>

			<!-- Work -->
			<article id="work">
				<h2 class="major">আমাদের কাজ</h2>
				<span class="image main"><img src="{% static 'corunaApp/images/pic02.jpg' %}" alt="" /></span>
				<p>
					এক দল কম্পিউটার প্রোগ্রামার ভলান্টিয়ার যারা এইটি ওপেন সোর্স প্রজেক্ট করছি করোনা মোকাবিলার জন্য
					প্রয়োজনীয় প্রযুক্তি তৈরী করাই আমাদের কাজ । আমরা উন্মুক্ত পদ্ধতিতে কাজ করি । যে কেউ যে কোন সময়
					আমাদের প্রজেক্টে অংশগ্রহন করতে পারেন । যে কেউ যে কোন কাজে আমাদের এই প্রজেক্টের সমস্ত উপাদান
					ব্যাবহার করতে পারেন । আমাদের সাথে গিটহাবে যোগায়োগ করতে পারেন অথবা আমাদের সামাজিক মাধ্যমগুলোর
					সাহায্যে আমাদের সাথে যোগাযোগ করতে পারেন ।
					এই প্রজেক্টটি সম্পুর্ন স্বেচ্ছা শ্রমে করা ।


				</p>
				<p>
					সবার জন্য শুভকামনা ।
				</p>
			</article>

			<!-- About -->
			<article id="about">
				<h2 class="major">কি করবো ?</h2>
				<span class="image main"><img src="{% static 'corunaApp/images/pic03.jpg ' %} " alt="" /></span>
				<p>
					একটি এপ্লিকেশন তৈরী করবো যা আমাদের করোনা প্রতিরোধে সিম্মিলিতো প্রচেস্টার প্রতিফলন হয় । যেখানে এসে
					মানুষকে তথ্যের জন্য অপেক্ষা করতে না হয় । যেখান থেকে যে কোন শ্রেনী পেশার মানুষ যে কোন বয়সের মানুষ
					যাতে খুব দ্রুত তথ্য পেতে পারে । একই সাথে এই এপ্লিকেশনটা যেন এই সময়ের প্রতিফলন হয়ে দাড়ায় ।
				</p>
			</article>

			<!-- Contact -->
			<article id="contact">
				<h2 class="major">Contact</h2>
				<form method="POST" novalidate>
					{% csrf_token %}

					<div class="fields">
						<div class="field half">
							{{ form.name.label_tag }}
							{{ form.name.errors }}
							{{ form.name }}

						</div>
						<div class="field half">
							{{ form.email.label_tag }}
							{{ form.email.errors }}
							{{ form.email }}
						</div>
						<div class="field">
							{{ form.message.label_tag }}
							{{ form.message.errors }}
							{{ form.message }}
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="primary" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</form>
				<ul class="icons">
					<!--<li ><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
						<li><a href="https://www.facebook.com/Coronavirussocialwelfare/" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.youtube.com/playlist?list=PLSQ_pVMGfBaPipBOXnCze267aS8EPxe8_" target="_blank" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
						<li><a href="https://github.com/sushen/coronavirus" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
			</article>

			{% comment %} login {% endcomment %}

			<article id="login">
				<h2 class="major">Login</h2>
				 <div class="row">
					<div class="input-field col s12">
						<label for="email">Email</label>
						<input id="email" type="email" class="validate">
					
						<button class="btn waves-effect waves-light" id='login-btn' type="button" name="login-btn" onclick="signin()">Login
						</button>	

					</div>
				</div>
			</article>

			<!-- Elements -->
			<article id="elements">
				<h2 class="major">Elements</h2>

				<section>
					<h3 class="major">Text</h3>
					<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is
						<em>emphasized</em>.
						This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
						This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a
							href="#">this is a link</a>.</p>
					<hr />
					<h2>Heading Level 2</h2>
					<h3>Heading Level 3</h3>
					<h4>Heading Level 4</h4>
					<h5>Heading Level 5</h5>
					<h6>Heading Level 6</h6>
					<hr />
					<h4>Blockquote</h4>
					<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus
						euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
						iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem
						ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
					<h4>Preformatted</h4>
					<pre><code>
									i = 0;

									while (!deck.isInOrder()) {
									print 'Iteration ' + i;
									deck.shuffle();
									i++;
									}

									print 'It took ' + i + ' iterations to sort the deck.';
									</code></pre>
				</section>

				<section>
					<h3 class="major">Lists</h3>

					<h4>Unordered</h4>
					<ul>
						<li>Dolor pulvinar etiam.</li>
						<li>Sagittis adipiscing.</li>
						<li>Felis enim feugiat.</li>
					</ul>

					<h4>Alternate</h4>
					<ul class="alt">
						<li>Dolor pulvinar etiam.</li>
						<li>Sagittis adipiscing.</li>
						<li>Felis enim feugiat.</li>
					</ul>

					<h4>Ordered</h4>
					<ol>
						<li>Dolor pulvinar etiam.</li>
						<li>Etiam vel felis viverra.</li>
						<li>Felis enim feugiat.</li>
						<li>Dolor pulvinar etiam.</li>
						<li>Etiam vel felis lorem.</li>
						<li>Felis enim et feugiat.</li>
					</ol>
					<h4>Icons</h4>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>

					<h4>Actions</h4>
					<ul class="actions">
						<li><a href="#" class="button primary">Default</a></li>
						<li><a href="#" class="button">Default</a></li>
					</ul>
					<ul class="actions stacked">
						<li><a href="#" class="button primary">Default</a></li>
						<li><a href="#" class="button">Default</a></li>
					</ul>
				</section>

				<section>
					<h3 class="major">Table</h3>
					<h4>Default</h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Item One</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item Two</td>
									<td>Vis ac commodo adipiscing arcu aliquet.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item Three</td>
									<td> Morbi faucibus arcu accumsan lorem.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item Four</td>
									<td>Vitae integer tempus condimentum.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item Five</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>

					<h4>Alternate</h4>
					<div class="table-wrapper">
						<table class="alt">
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Item One</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item Two</td>
									<td>Vis ac commodo adipiscing arcu aliquet.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item Three</td>
									<td> Morbi faucibus arcu accumsan lorem.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item Four</td>
									<td>Vitae integer tempus condimentum.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item Five</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</section>

				<section>
					<h3 class="major">Buttons</h3>
					<ul class="actions">
						<li><a href="#" class="button primary">Primary</a></li>
						<li><a href="#" class="button">Default</a></li>
					</ul>
					<ul class="actions">
						<li><a href="#" class="button">Default</a></li>
						<li><a href="#" class="button small">Small</a></li>
					</ul>
					<ul class="actions">
						<li><a href="#" class="button primary icon solid fa-download">Icon</a></li>
						<li><a href="#" class="button icon solid fa-download">Icon</a></li>
					</ul>
					<ul class="actions">
						<li><span class="button primary disabled">Disabled</span></li>
						<li><span class="button disabled">Disabled</span></li>
					</ul>
				</section>

				<!-- <section>
									<h3 class="major">Form</h3>

								<form name = "form" method = "POST" >

									{% csrf_token %}

										
										<div class="fields">
											<div class="field half">
												{{ form.name }}
											</div>
											<div class="field half">
												{{ form.email }}
											</div>
											<div class="field">
												<label for="demo-category">Category</label>
												<select name="demo-category" id="demo-category">
													<option value="">-</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">Low</label>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-high" name="demo-priority">
												<label for="demo-priority-high">High</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-copy" name="demo-copy">
												<label for="demo-copy">Email me a copy</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-human" name="demo-human" checked>
												<label for="demo-human">Not a robot</label>
											</div>
											<div class="field">
												{{ form.message }}
											</div>
											

										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section> -->

			</article>

		</div>

	</div>

	<!-- BG -->
	<!-- <div id="bg"></div> -->



</div>

	 <!-- coruna app script file -->
    <!-- Scripts -->
	<script src="{% static 'corunaApp/js/jquery.min.js' %} "></script>
	<script src="{% static 'corunaApp/js/browser.min.js' %} "></script>
	<script src="{% static 'corunaApp/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'corunaApp/js/util.js' %}"></script>
	<script src="{% static 'corunaApp/js/main.js' %}"></script>
  
	  <!-- coruna app script end -->

{% endblock %}