{% extends 'base_temp.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static  'corunaApp/css/news.css' %} " />
{% endblock script %}

{% block content %}

<div class="news-template" >
    <div class=" bg-gradient-4 p-5 text-right">
        <h2 style="color:orange;">করোনা লাইভ সংবাদ</h2>

    </div>
    <div class="container-fluid">
        
    
        <div class="mb-5">
    
            <div class="news py-4 ">
                <h3 class="text-success text-center pb-3" style="font-weight: bold;">বাংলাদেশের বর্তমান করোনার অবস্থা</h3>
    
                <div class="row border-info justify-content-center">
                    {% if world_info %}
                    {% for data in world_info %}
                    {% if data.country == 'Bangladesh'%}
                    <div class="col-sm-2 ">
                        <div class="card text-success  bg-white  border-success px-2">
                            <div class="pt-1">
                                <p style="font-size: 24px;" class="card-title text-center">করোনা আক্রান্ত</p>
    
                            </div>
                            <div class=" ">
                                <h2 class=" text-center text-danger p-0" style="font-weight: bold;font-size: 26px;">{{data.cases}} </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 mx-1 px-2">
                        <div class="card text-warning  bg-white  border-warning " style="">
                            <div class="pt-1 ">
                                <p style="font-size: 24px;" class="card-title text-center">চিকিৎসাধীন আছেন</p>
    
                            </div>
                            <div class="">
                                <h2 class="card-title text-center text-warning" style="font-weight: bold;font-size: 26px;">{{data.active}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 mx-1">
                        <div class="card text-info  bg-white  border-info  px-2" style="">
                            <div class="pt-1">
                                <p style="font-size: 24px;" class="card-title text-center">সুস্থ হয়েছেন</p>
    
                            </div>
                            <div class=" ">
                                <h2 class="card-title text-center text-success" style="font-weight: bold;font-size: 26px;">{{data.recovered}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 mx-1">
                        <div class="card text-primary  bg-white  border-primary  px-2" style="">
                            <div class="pt-1">
                                <p style="font-size: 24px;" class="card-title text-center">আজকে মৃত </p>
    
                            </div>
                            <div class=" ">
                                <h2 class="card-title text-center text-danger" style="font-weight: bold;font-size: 26px;">{{data.todayDeaths}} </h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 mx-1">
                        <div class="card text-success  bg-white  border-success  px-2" style="">
                            <div class="pt-1">
                                <p style="font-size: 24px;" class="card-title text-center">আজকে আক্রান্ত </p>
    
                            </div>
                            <div class="">
                                <h2 class="card-title text-center text-danger p-0" style="font-weight: bold;font-size: 26px;">{{data.todayCases}}</h2>
                            </div>
                        </div>
                    </div>
    
    
                    {% endif %}
                    {% endfor %}

                    {% else %}
                    <p>none</p>
                    {% endif %}
    
                
                
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="container-fluid mb-5" style="height: 440px; overflow: scroll;">
        <h3 class="text-success " style="font-weight: bold;"> অন্যান্য দেশ </h3>

        <div class="row world_news ">
            <div class="col-sm-12">
    
                <table class="table table-striped table-success" class="" >
                    <thead class="text-white">
                        <tr>
                            <th class="bg-success" scope="col">দেশ</th>
                            <th class="bg-success" scope="col">করোনা আক্রান্ত</th>
                            <th class="bg-success" scope="col">চিকিৎসাধীন আছেন</th>
                            <th class="bg-success" scope="col">সুস্থ হয়েছেন</th>
                            <th class="bg-success" scope="col">আজকের মৃত সংখ্যা</th>
                            <th class="bg-success" scope="col">আজকের আক্রান্ত সংখ্যা</th>
                            <th class="bg-success" scope="col">সর্বমোট মারা গেছেন</th>
    
                        </tr>
                    </thead>
                    <tbody class="text-dark" style="font-weight: bold;">
                        {% if world_info %}
    
                        {% for data in world_info %}
                        <tr>
    
                            <td> <img width="20" height="15" src="{{data.countryInfo.flag}}"
                                    style="padding-right: 3px;padding-top:2px" alt="">{{data.country|truncatechars_html:17}}
                            </td>
    
                            <td>{{data.cases}}</td>
    
                            <td>{{data.active}}</td>
    
    
                            <td>{{data.recovered}}</td>
    
    
                            <td>{{data.todayDeaths}}</td>
    
                            <td>{{data.todayCases}}</td>
    
    
                            <td>{{data.deaths}}</td>
                        </tr>
                        {% endfor %}
    
    
                        {% else %}
                        <p>none</p>
                        {% endif %}
    
                    </tbody>
                </table>
    
            </div>
        </div>
    </div>
</div>



{% endblock content %}